* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@keyframes fadeInUpBlur {
    0% {
        opacity: 0;
        transform: translateY(50px) blur(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0) blur(0);
    }
}

header , nav {
    opacity: 0;
    transform: translateY(50px) blur(20px);
    animation: fadeInUpBlur 2s forwards;
}

header {
    padding: 3.5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-delay: 0.4s;
}

.header-text h1 {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    letter-spacing: 0.5rem;
}


nav a,
.header-text a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 50px;
    font-family: 'Intel One', Arial, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    padding-bottom: 7px;
    animation-delay: 0.8s;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 0.5px;
    background: white;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav a:hover::after {
    width: 100%;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
}

.hero {
    animation-delay: 1s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    width: 100%;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20%;
    width: 650px;
    height: 650px;
    background-image: url('./pic/port-title-white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    opacity: 0.4;
    z-index: -1;
    opacity: 0;
    transition: translateX blur 0.8s ease;
    animation: slideup 2s forwards;
    animation-delay: 2.3s;
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateX(150px) blur(20px);
    }

    100% {
        opacity: 0.4;
        transform: translateX(0) blur(0);
    }
}


@keyframes slidein {
    from {
        opacity: 0;
        transform: translateX(80px) ;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.carousel {
    opacity: 0;
    transition: translateX blur 0.8s ease;
    animation: slidein 2s forwards;
    animation-delay: 2s;
    border: 1px solid #7a7a7a;
    width: 1000px;
    max-width: 60%;
    position: relative;
    height: 50vh;
    overflow: hidden;
    margin-top: -50px;
    animation-delay: 1.3s;
}

.carousel .list {
    position: absolute;
    width: 1140px;
    max-width: 90%;
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel .list .item {
    position: absolute;
    left: 0%;
    width: 85%;
    height: 100%;
    font-size: 15px;
    transition: left 0.5s, opacity 0.5s, width 0.5s;
}

.carousel .list .item:nth-child(n + 6) {
    opacity: 0;
}

.carousel .list .item:nth-child(2) {
    z-index: 10;
    transform: translateX(0);
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    transition: right 1.5s;
    filter: brightness(0.57);
}

.carousel .list .item .introduce {
    opacity: 0;
    pointer-events: none;
}

.carousel .list .item:nth-child(2) .introduce {
    opacity: 1;
    pointer-events: auto;
    width: 400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.8s;
}

.carousel .list .item .introduce .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 3rem;
    letter-spacing: 0.2rem;
}

.carousel .list .item .introduce .topic {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 0.25rem;
}


.carousel .list .item:nth-child(1) {
    transform: translateX(-100%) translateY(-5%) scale(1.5);
    filter: blur(30px);
    z-index: 11;
    opacity: 0;
    pointer-events: none;
}

.carousel .list .item:nth-child(3) {
    transform: translate(50%, 0%) scale(0.8);
    filter: blur(10px);
    z-index: 9;
}

.carousel .list .item:nth-child(4) {
    transform: translate(90%, 0%) scale(0.5);
    filter: blur(30px);
    z-index: 8;
}

.carousel .list .item:nth-child(5) {
    transform: translate(120%, 0%) scale(0.3);
    filter: blur(40px);
    opacity: 0;
    pointer-events: none;
}

/* animation text in item2 */
.carousel .list .item:nth-child(2) .introduce .title,
.carousel .list .item:nth-child(2) .introduce .topic,
.carousel .list .item:nth-child(2) .introduce .des,
.carousel .list .item:nth-child(2) .introduce .seeMore {
    opacity: 0;
    animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

@keyframes showContent {
    from {
        transform: translateY(-30px);
        filter: blur(10px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}

.carousel .list .item:nth-child(2) .introduce .topic {
    animation-delay: 1.2s;
}

.carousel .list .item:nth-child(2) .introduce .des {
    animation-delay: 1.4s;
}

.carousel .list .item:nth-child(2) .introduce .seeMore {
    animation-delay: 1.6s;
}

/* next click */
.carousel.next .item:nth-child(1) {
    animation: transformFromPosition2 0.8s ease-in-out 1 forwards;
}

@keyframes transformFromPosition2 {
    from {
        transform: translateX(0);
        filter: blur(0px);
        opacity: 1;
    }
}

.carousel.next .item:nth-child(2) {
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}

@keyframes transformFromPosition3 {
    from {
        transform: translate(50%, 0%) scale(0.8);
        filter: blur(10px);
        opacity: 1;
    }
}

.carousel.next .item:nth-child(3) {
    animation: transformFromPosition4 0.9s ease-in-out 1 forwards;
}

@keyframes transformFromPosition4 {
    from {
        transform: translate(90%, 0%) scale(0.5);
        filter: blur(30px);
        opacity: 1;
    }
}

.carousel.next .item:nth-child(4) {
    animation: transformFromPosition5 1.1s ease-in-out 1 forwards;
}

@keyframes transformFromPosition5 {
    from {
        transform: translate(120%, -50%) scale(0.3);
        filter: blur(40px);
        opacity: 0;
    }
}

/* previous */
.carousel.prev .list .item:nth-child(5) {
    animation: transformFromPosition4 0.5s ease-in-out 1 forwards;
}

.carousel.prev .list .item:nth-child(4) {
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}

.carousel.prev .list .item:nth-child(3) {
    animation: transformFromPosition2 0.9s ease-in-out 1 forwards;
}

.carousel.prev .list .item:nth-child(2) {
    animation: transformFromPosition1 1.1s ease-in-out 1 forwards;
}

@keyframes transformFromPosition1 {
    from {
        transform: translateX(-100%) translateY(-5%) scale(1.5);
        filter: blur(30px);
        opacity: 0;
    }
}

.arrows {
    position: absolute;
    bottom: 30px;
    width: 1140px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
}


.arrow {
    width: 100px;
    height: 60px;
    border: none;
    cursor: pointer;
    position: relative;
    background: transparent;
    overflow: hidden;
    transition: all 0.3s ease;
}

.arrow::before,
.arrow::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.arrow::before {
    width: 100%;
    height: 0.5px;
    bottom: 0;
    left: 0;
}

.arrow span {
    color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0;
    transition: all 0.3s ease;
}

.arrow:hover::before {
    height: 1px;
}

.arrow:hover::after {
    height: 40px;
}

.arrow:hover span {
    transform: translate(-50%, -50%);
    opacity: 1;
}



@media screen and (max-width: 991px) {

    /* ipad, tablets */
    .carousel .list .item {
        width: 90%;
    }

    .carousel.showDetail .list .item:nth-child(2) .detail .specifications {
        overflow: auto;
    }

    .carousel.showDetail .list .item:nth-child(2) .detail .title {
        font-size: 2em;
    }
}

@media screen and (max-width: 767px) {

    /* mobile */
    .carousel {
        height: 600px;
    }

    .carousel .list .item {
        width: 100%;
        font-size: 10px;
    }

    .carousel .list {
        height: 100%;
    }

    .carousel .list .item:nth-child(2) .introduce {
        width: 50%;
    }

    .carousel .list .item img {
        width: 40%;
    }

    .carousel.showDetail .list .item:nth-child(2) .detail {
        backdrop-filter: blur(10px);
        font-size: small;
    }

    .carousel .list .item:nth-child(2) .introduce .des,
    .carousel.showDetail .list .item:nth-child(2) .detail .des {
        height: 100px;
        overflow: auto;
    }

    .carousel.showDetail .list .item:nth-child(2) .detail .checkout {
        display: flex;
        width: max-content;
        float: right;
    }
}




.onetext {
    margin: 10rem 0;
    padding: 3rem;
    width: 100%;
    text-align: center;
    color: white;
}

.onetext h1,
.onetext h2 {
    margin-top: 5rem;
    font-size: 9vw;
    /* 根据屏幕宽度调整字体大小 */
}

.onetext h2 {
    font-size: 8vw;
    /* 根据屏幕宽度调整字体大小 */
}



#about {
    margin-top: 10rem;
    margin-left: 12%;
    justify-content: end;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    background-color: #1a1a1a;
    /* 背景色 */
}

.about-text {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-left: 20%;
    max-width: 100%;
    color: white;
    margin-right: 20px;
    /* 调整文字与图片间距 */
}

.about-title h3 {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    animation: autoShowAnimation1 both;
    animation-timeline: view(80% 5%);
}


.about-text p {
    width: 350px;
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2;
    margin: 0;
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

.about-text img {
    width: 55%;
    height: 55%;
    filter: brightness(0.8);
    animation: autoShowAnimation2 both;
    animation-timeline: view(80% 5%);
}



.habbit {
    margin-left: 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
    box-sizing: border-box;
}

.habbit-text {
    align-self: flex-start;
    margin-bottom: 1rem;
}


.habbit-text h2 {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    animation: autoShowAnimation1 both;
    animation-timeline: view(70% 5%);
}

.image-container {
    width: 140%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    animation: autoShowAnimation2 both;
    animation-timeline: view(70% 5%);
}

.image-grid {
    margin-top: 10rem;
    display: flex;
    transition: transform 3.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    position: relative;
    left: calc(100% - 70rem);
    will-change: transform;
}

.image-container:hover .image-grid {
    transform: translateX(-30rem);
}

.image-item {
    margin: 0 2rem;
    text-align: left;

}

.image-item img {
    margin-bottom: 1rem;
    width: 16rem;
    height: 18rem;
    object-fit: cover;
    transition: transform 1s ease-in-out;
    font-size: 1.1rem;
    color: #e0e0e0;
    filter: brightness(0.85);
}



.st {
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 10rem 0;

}

.st div {
    animation: sc var(--t) linear infinite;
    white-space: nowrap;
}


.st div:nth-child(2) {
    animation: sc2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}

@keyframes sc {
    from {
        transform: translate(100%);
    }

    to {
        transform: translate(-100%);
    }
}

@keyframes sc2 {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(-200%);
    }
}

.st div span {
    margin: 1rem;
    display: inline-block;
    letter-spacing: 0.15rem;
    font-size: 25vw;
    font-family: 'Inter';
    color: #e0e0e0;
}

.portfolio {
    margin-left: 12%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.port-title {
    width: 100%;
    align-items: flex-start;
    animation: autoShowAnimation1 both;
    animation-timeline: view(70% 5%);
}

.port-title h2 {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    margin-bottom: 10rem;
}

.port-item {
    padding: 3rem 0;
    position: relative;
    width: 1100px;
    height: 500px;
    overflow: hidden;
    margin-bottom: 20rem;
    transition: transform 0.8s ease, box-shadow 0.3s ease;
    gap: 5rem;
}

.port-item:hover {
    transform: translateY(-10px);
}

.port-text {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatex(-0%);
    z-index: 2;
    width: 100%;
    padding-left: 20px;
    transition: opacity 0.3s ease;
}


/* .port-item h4{
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
    letter-spacing: 0.1em;
    color: white;
} */

.port-item h4 {
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 2.2px rgb(255, 255, 255);
    background: linear-gradient(90deg, #ffffff, #ffffff);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: color 1s ease, background-size 1.5s ease, letter-spacing 2s ease;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 0;
    letter-spacing: 0.05em;
    font-size: 3.5rem;
    position: relative;
    margin: 0 0 0 50%;
    transform: translate(-45%, -100%);
    outline: none;
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.port-item:hover h4 {
    color: #ffffff;
    background-size: 100% 100%;
    letter-spacing: 0.5rem;
}

/*  */

.port-item h4 span {
    display: block;
}


.port-item p {
    line-height: 1.5;
    letter-spacing: 0.1em;
    font-size: 1.7rem;
    position: relative;
    font-weight: 400;
    margin: 0 0 0 50.5%;
    transform: translate(-45%, -100%);
    outline: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.port-item p {
    transition: letter-spacing 0.8s ease-in-out, line-height 0.5s ease-out;
}



.port-item:hover p {
    letter-spacing: 0.35rem;
    line-height: 1.5;
}


/* 動畫效果 */
@keyframes textShadowAnimation {
    0% {
        text-shadow: none;
    }

    12.5% {
        text-shadow: 2px 2px 0 #a29bfe;
        /* 柔和的紫色 */
    }

    25% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff;
        /* 柔和的紫色和蓝色 */
    }

    37.5% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff, 2px -2px 0 #a29bfe;
    }

    50% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff, 2px -2px 0 #a29bfe, -2px 2px 0 #74b9ff;
    }

    62.5% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff, 2px -2px 0 #a29bfe, -2px 2px 0 #74b9ff, 2px 0 0 #a29bfe;
    }

    75% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff, 2px -2px 0 #a29bfe, -2px 2px 0 #74b9ff, 2px 0 0 #a29bfe, -2px 0 0 #74b9ff;
    }

    87.5% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff, 2px -2px 0 #a29bfe, -2px 2px 0 #74b9ff, 2px 0 0 #a29bfe, -2px 0 0 #74b9ff, 0 2px 0 #a29bfe;
    }

    100% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff, 2px -2px 0 #a29bfe, -2px 2px 0 #74b9ff, 2px 0 0 #a29bfe, -2px 0 0 #74b9ff, 0 2px 0 #a29bfe, 0 -2px 0 #74b9ff;
    }
}

@keyframes textShadowAnimationReverse {
    0% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff, 2px -2px 0 #a29bfe, -2px 2px 0 #74b9ff, 2px 0 0 #a29bfe, -2px 0 0 #74b9ff, 0 2px 0 #a29bfe, 0 -2px 0 #74b9ff;
    }

    12.5% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff, 2px -2px 0 #a29bfe, -2px 2px 0 #74b9ff, 2px 0 0 #a29bfe, -2px 0 0 #74b9ff, 0 2px 0 #a29bfe;
    }

    25% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff, 2px -2px 0 #a29bfe, -2px 2px 0 #74b9ff, 2px 0 0 #a29bfe, -2px 0 0 #74b9ff;
    }

    37.5% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff, 2px -2px 0 #a29bfe, -2px 2px 0 #74b9ff, 2px 0 0 #a29bfe;
    }

    50% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff, 2px -2px 0 #a29bfe, -2px 2px 0 #74b9ff;
    }

    62.5% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff, 2px -2px 0 #a29bfe;
    }

    75% {
        text-shadow: 2px 2px 0 #a29bfe, -2px -2px 0 #74b9ff;
    }

    87.5% {
        text-shadow: 2px 2px 0 #a29bfe;
    }

    100% {
        text-shadow: none;
    }
}


.port-img {
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}


.port-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0.8);
    transition: transform 1s ease, filter 1s ease;
}

.port-item:hover .port-img img {
    object-fit: contain;
    transform: scale(0.92);
    filter: brightness(0.7) drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.8));
}




.single-line {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    max-width: 960px;
    margin: 0 auto;
}

.single-line img {
    width: 65%;
    height: auto;

}

.single-line h1 {
    font-size: calc(30px + 4vw);
    position: relative;
    font-weight: 900;
    margin: 0 0 0 50%;
    transform: translate(-45%, -100%);
    outline: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.single-line h1:before {
    content: attr(data-title);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;
    width: 65%;
    color: rgba(52, 204, 255, 1);
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.single-line h1 span {
    display: block;
}

.single-line h1 span:before {
    content: "";
    width: 25%;
    border-bottom: 8px solid #401E6D;
    position: absolute;
    display: block;
    bottom: 0;
}

.single-line p {
    position: relative;
    text-align: center;
    color: #fff;
    padding: 2em;
    letter-spacing: 0.0525em;
    font-weight: 300;
}

strong {
    font-weight: 900;
}


#contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#contact a {
    text-decoration: none;
}

#contact h1 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    font-family: 'Arial', sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
    background: linear-gradient(90deg, #ffffff, #ffffff);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: color 1s ease, background-size 1s ease, letter-spacing 1s ease;

}

#contact h1:hover {
    color: #ffffff;
    background-size: 100% 100%;
    letter-spacing: 0.5rem;
}


@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }

    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}



@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(80px) scale(0.6);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}



@keyframes autoShowAnimation1 {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes autoShowAnimation2 {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.port-item,
.onetext {
    animation: autoBLurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBLurAnimation {
    0% {
        filter: blur(40px);
    }

    20%,
    90% {
        filter: blur(25px);
    }

    30%,
    70% {
        filter: blur(0px);
    }

    100% {
        filter: blur(35px);
    }
}